<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" th:href="cstyle.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Welcome to home aliens</h1>
click here to login

<!--<a th:href="@{/login}">Login bro</a>-->
<!--<a th:href="@{/list_users}">Login bro</a>-->





</body>
</html>